.header {
  display: flex;
  justify-content: space-between;
  width: 1250px;
  margin: 0 auto;
  padding: 80px;
  font-size: larger;
}
span {
  padding: 2px;
  cursor: pointer;
  font-weight: 700;
}
.nav {
  text-decoration: none;
  color: rgba(115, 115, 221, 0.767);
}
.active {
  color: blue;
  text-decoration: underline;
}
.main {
  width: 1250px;
  min-height: 70vh;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.tags {
  display: flex;
  width: 25%;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  color: rgba(115, 115, 221, 0.767);
}
